<% if user_signed_in? %>
<div style="padding-left: 40%; padding-top: 100px;">
<h1>E-COMMERCE</h1>
</div>


<% else %>
<div style="color: red;" ><h1 style = "text-align: center">Please Login again!!!</h1></div>
<% end %>